.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  /* background-image: url("https://t4.ftcdn.net/jpg/01/61/25/33/360_F_161253322_Z7K0uxt3clpAToWwQ9d4PlItg7vHc4F2.jpg"); */
  background-color: yellow;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
