:root {
  --background-light: #cbcbcb;
  --background-dark: #2b2b2b;
  --text-light: black;
  --text-dark: rgb(160, 160, 160);
  --button-bg-light: rgb(236 197 4);
  --button-bg-dark: rgb(3, 0, 199);
  --button-hover-bg-light: rgb(255, 187, 0);
  --button-hover-bg-dark: rgb(3, 0, 199, 0.5);
}

.background {
  background-image: url("../images/lightConcrete2.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--background-light);
  color: var(--text-light);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  width: 100%;
  height: 100vh;
  /* font-family: monospace;
  font-weight: bold; */
}

.background.dark-mode {
  background-image: url("../images/darkConcrete2.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.background select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: fit-content;
  font-size: medium;
  padding: 5px;
  background-color: #dddcdc;
  color: var(--text-light);
  border-style: outset;
  border-color: #6e6e6e;
  border-radius: 0.25rem;
  cursor: pointer;
}

.background.dark-mode select{
  background-color: #454545;
  color: var(--text-dark);
}

.background textarea{
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 96.67%;
  font-size: medium;
  padding: 5px;
  background-color: #dddcdc;
  color: var(--text-light);
  border-style: outset;
  border-color: #6e6e6e;
  border-radius: 0.25rem;
  cursor: pointer;
}

.background.dark-mode textarea{
  background-color: #454545;
  color: var(--text-dark);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  color: var(--text-light);
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For Firefox */
/* Adjust the color and other styles as needed */
/* Note: scrollbar-color is not supported in some versions of Firefox */
/* Use scrollbar-face-color and scrollbar-track-color if needed */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--background-dark) var(--background-light); /* thumb color, track color */
}

/* For WebKit (Chrome, Safari) */
/* Adjust the color and other styles as needed */
/* Note: ::-webkit-scrollbar is supported in WebKit-based browsers */
/* Use ::-webkit-scrollbar-thumb if needed */
/* Use ::-webkit-scrollbar-track if needed */
/* Use ::-webkit-scrollbar-track-piece if needed */
/* Use ::-webkit-scrollbar-button if needed */
/* Use ::-webkit-scrollbar-corner if needed */
body::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--background-dark); /* thumb color */
}

body::-webkit-scrollbar-track {
  background-color: var(--background-light); /* track color */
}