:root {
  --background-light: #fbca04;
  --background-dark: #0234fd;
  --text-light: black;
  --text-dark: white;
  --button-bg-light: transparent;
  --button-bg-dark: transparent;
  --button-hover-bg-light: rgb(255, 153, 0);
  --button-hover-bg-dark: rgb(100, 100, 100);
}

.background {
  background-color: var(--background-light);
  color: var(--text-light);
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  width: 100vw;
  height: 100vh;
}

.background.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
