:root {
    --background-light: #f2f2f2;
    --background-dark: #2b2b2b;
    --text-light: black;
    --text-dark: rgb(160, 160, 160);
    --button-bg-light: rgb(236 197 4);
    --button-bg-dark: rgb(3, 0, 199);
    --button-hover-bg-light: rgb(255, 187, 0);
    --button-hover-bg-dark: rgb(3, 0, 199);
}

.forms {
    background-color: var(--background-light);
    color: var(--text-light);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-smart;
    align-items: center;
    height: 80%;
    padding-top: 10px; /*subject to change*/
}

.forms.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.formCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: --button-bg-light;
    border-radius: 10px;
    border-style: outset;
    width: 500px;
    height: 30px;
    flex-shrink: 0;
    border-color: #6e6e6e;
    margin: 10px;
    cursor: pointer;
}

#pagination {
    display: flex;
    margin-top: 10px;
    width: 30%;
    align-items: center;
    text-align-last: center;
}

.forms button{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: "Roboto", cursive;
    font-size: 1rem;
    border-radius: 6px;
    padding: 8px 16px;
    text-overflow: clip;
    background-color: var(--button-bg-light);
    &:disabled {
        background-color: #f3f3f3;
        cursor: not-allowed;
        }
}

.forms.dark-mode button {
    background-color: rgb(3, 0, 199, 0.5);
    color: var(--text-dark);
}

.forms button:hover{
    background-color: rgb(255, 153, 0);
    &:disabled {
        background-color: #f3f3f3;
        cursor: not-allowed;
        }
}

.forms.dark-mode button:hover {
    background-color: var(--button-hover-bg-dark);
}

.forms p{
    display: block;
    height: 50%;
    width: 100%;
    font-family: "Roboto", cursive;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0px 16px;
    text-decoration: none;
    min-width: fit-content;
}

.forms h1 {
    display: block;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
}

#deleteButton {
    background-color: rgba(255, 0, 0, 0.5);
}

#deleteButton:hover{
    background-color: rgba(180, 0, 0, 0.603);
}