:root {
    --background-light: #fbca04;
    --background-dark: #0234fd;
    --text-light: black;
    --text-dark: white;
    --button-bg-light: transparent;
    --button-bg-dark: transparent;
    --button-hover-bg-light: rgb(255, 153, 0);
    --button-hover-bg-dark: rgb(100, 100, 100);
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: url("../images/caution_border.png");
    background-size: contain;
    background-repeat:round;
    background-color: var(--background-light);
    color: var(--text-light);
    padding: 10px; /* Add padding or styling as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for a nice effect */
    display: flex;
    justify-content: space-evenly;
}

.navbar.dark-mode {
    background-image: url("../images/caution_border_darkMode.png");
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.navbar h1 {
    font-family: "Roboto", cursive;
    font-size: 3rem;
    color: var(--text-light);
    margin: 0;
    line-height: 1;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.navbar.dark-mode h1 {
    color: var(--text-dark);
}

.navbar a {
    font-family: "Roboto", cursive;
    font-size: 3rem;
    color: black;
    margin: 0;
    line-height: 1;
    text-decoration: none;
}

.navbar button{
    display: block;
    height: 100%;
    cursor: pointer;
    font-family: "Roboto", cursive;
    font-size: 1rem;
    border-radius: 6px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--button-bg-light);
}

.navbar.dark-mode button {
    background-color: var(--button-bg-dark);
    color: var(--text-dark);
}

.navbar button:hover{
    background-color: rgb(255, 153, 0);
}

.navbar.dark-mode button:hover {
    background-color: var(--button-hover-bg-dark);
}

.navLink{
    text-decoration: inherit;
    color: inherit;
}