:root {
    --background-light: #dddcdc;
    --background-dark: #0234fd;
    --text-light: black;
    --text-dark: white;
    --button-bg-light: rgb(236 197 4);
    --button-bg-dark: rgb(3, 0, 199);
    --button-hover-bg-light: rgb(255, 187, 0);
    --button-hover-bg-dark: rgb(3, 0, 199, 0.5);
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: url("../images/caution_border.png"), url('../images/lightSteel.jpg');
    background-size: auto;
    background-repeat:round;
    background-color: #dddcdc;
    color: var(--text-light);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align-last: center;
}

.navbar div{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align-last: center;
}

.navbar.dark-mode {
    background-image: url("../images/caution_border_darkMode.png"), url('../images/darkSteel.jpg');
    background-color: #1a1a1a;
    color: var(--text-dark);
}

.navbar h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--text-light);
    margin: 0;
    line-height: 1;
}

.navbar.dark-mode h1 {
    color: var(--text-dark);
}

.navbar a {
    font-family: "Roboto", cursive;
    font-size: 3rem;
    color: black;
    margin: 0;
    line-height: 1;
    text-decoration: none;
}

.navbar button{
    display: block;
    height: 100%;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 6px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--button-bg-light);
    margin-left: 10px;
    margin-right: 10px;
}

.navbar.dark-mode button {
    background-color: rgb(0 0 232);
    color: var(--text-dark);
}

.navbar button:hover{
    background-color: rgb(255, 153, 0);
}

.navbar.dark-mode button:hover {
    background-color: var(--button-hover-bg-dark);
}

.navLink{
    text-decoration: inherit;
    color: inherit;
}