:root {
    --background-light: #f2f2f2;
    --background-dark: #2b2b2b;
    --text-light: black;
    --text-dark: rgb(160, 160, 160);
    --button-bg-light: rgb(236 197 4);
    --button-bg-dark: rgb(3, 0, 199);
    --button-hover-bg-light: rgb(255, 187, 0);
    --button-hover-bg-dark: rgb(100, 100, 100);
}

.newForm {
    background-color: var(--background-light);
    color: var(--text-light);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-smart;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding-top: 30px;
}

#form {
    display: contents;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem;
    margin: 50px;
    flex-wrap: wrap;
    border-style: outset;
    border-color: #6e6e6e;
    width: 90%;
    height: 80%;
}

#formContent {
    display: contents;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem;
    margin: 50px;
    flex-wrap: wrap;
    border-style: outset;
    border-color: #6e6e6e;
}

.newForm.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
    height: 100%;
}

.recentSubmissions {
    display: contents;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.5rem;
    margin: 50px;
    flex-wrap: wrap;
    border-style: outset;
    border-color: #6e6e6e;
}

#subHeader {
    display: contents;
    width: 90%;
    border: none;
}

.newForm div{
    border-radius: 6px;
    padding: 5px;
    border-style: outset;
    margin: 10px;
    border-color: #6e6e6e;
}

#questions {
    padding: 5px;
    margin: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#questionAnswers{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
    border: none;
}

.newForm button{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: "Roboto", cursive;
    font-size: 1rem;
    border-radius: 6px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: var(--button-bg-light);
}

.newForm.dark-mode button {
    background-color: var(--button-bg-dark);
    color: var(--text-dark);
}

.newForm button:hover{
    background-color: rgb(255, 153, 0);
}

.newForm.dark-mode button:hover {
    background-color: var(--button-hover-bg-dark);
}

.navLink{
    text-decoration: inherit;
    color: inherit;
}

.newForm h1 {
    /* border-style: outset; */
    /* border-radius: 6px; */
    padding: 8px;
    /* border-color: #6e6e6e; */
    margin: 2px;
}

.newForm h2, h3 {
    padding: 2px;
    margin: 2px;
}