/* The container must be positioned relative: */
:root {
    --background-light: #cbcbcb;
    --background-dark: #2b2b2b;
    --text-light: black;
    --text-dark: #fff;
    --select-bg-light: rgb(236 197 4);
    --select-bg-dark: rgb(3, 0, 199);
}

#custom-select {
    position: relative;
    font-family: Arial;
    border: none;
}